.container {
    margin-left: 12vw;
    width: 18vw;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    padding: 1vh 1vw;
    margin-top: 3vh;
    font-family: "Poppins", sans-serif;
    border-radius: 1vw;
}

.label {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 14px;
}

.colorOptions {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
}

.selected {
    border: 2px solid #000;
    transform: scale(1.1);
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f6f7f5;
    padding: 8px 12px;
    border-radius: 8px;
}

.previewBox {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input {
    border: none;
    background: transparent;
    font-size: 14px;
    width: 100%;
    outline: none;
}