@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anchor {
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    color: blue
}


.signUpContainer {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.pic {
    height: 100vh;
}

.logo {
    width: 9vw;
    margin-left: 8vw;
    padding-top: 1vh;
}

.heading {
    margin-left: 17vw;
    font-family: "Poppins", sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 17vw;
}

.name,
.phone,
.email,
.password,
.confirmPassword {
    font-family: "Poppins", sans-serif;
    color: #666666;
    margin-top: 2vh
}

.checkbox {
    display: flex;
}

.nameInput,
.phoneInput,
.emailInput,
.passwordInput,
.confirmPasswordInput {
    height: 5vh;
    width: 35vw;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 0.6vw;
}

.submitBtn {
    margin-top: 6vh;
    background-color: #c3c3c3;
    width: 35vw;
    border-radius: 5vw;
    color: white;
    font-family: "Inter", sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: #676B5F;
    font-size: 0.8vw;
    margin-top: 6vh;
}

.terms {
    font-size: 0.8vw;
}


/*.password {
    font-family: "Poppins", sans-serif;
    color: #666666;
    margin-top: 3vh;
}

.emailInput {
    height: 5vh;
    width: 35vw;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 0.6vw;
}

.passwordInput {
    height: 5vh;
    width: 35vw;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 0.6vw;
}

.submitBtn {
    margin-top: 6vh;
    background-color: #c3c3c3;
    width: 35vw;
    border-radius: 5vw;
    color: white;
    font-family: "Inter", sans-serif;
}

.forgot {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    font-family: "Inter", sans-serif;
    color: #244779
}

.signup {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.signup>u {
    color: #244779;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: #676B5F;
    font-size: 0.8vw;
    margin-top: 18vh;
} */